.location li {
    display: inline-block;
}

body {
    width: 400px;
}

.head {
    height: 50px;
    position: relative;
    width: 100%;
    vertical-align: middle;
}

.head i {
    font-size: 25px;
}

.table {
    display: table;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.content {
    padding: 10px;
}

.reminder-list{
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.wide {
    width: 100%;
}

.input-error {
    color: #ff2222;
    margin: 0;
    font-size: 12px;
    margin: -2px 0 2px 5px;
}

.invalid.input-group-addon:first-child {
    background-color: #ffe5dd;
}

.valid.input-group-addon:first-child {
    background-color: #eeffee;
}

.invisible {
    visibility: hidden;
}

form .input-group button:first-of-type {
    border-radius: 0;
}

form .input-group input:first-of-type {
    border-radius: 0 4px 4px 0;
}

.margin-bottom {
    margin-bottom: 10px;
}